<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="start_string" value="PRINTING NUMBERS FROM 0 TO 100 *"/>
    <add key="separator_string"  value="********************************"/>
    <add key="multiple_of_three_and_five_string" value="ORANGE > GREEN"/>
    <add key="multiple_of_three_string" value="ORANGE"/>
    <add key="multiple_of_five_string" value="GREEN"/>
    <add key="finish_string" value="Press a key to finish"/>
  </appSettings>
</configuration>